<div *ngFor="let todo of todos">
    <app-todo-itemm [todo]="todo" (tododelete)="deletetodo($event)"></app-todo-itemm>
</div>

<!-- toast when the delete is happend 
<div class="toast align-items-center text-bg-primary border-0"  role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Todo Item is Deleted....
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div> -->